.sidebar {
  flex: 1;
  height: calc(100vh - 4rem);
  background-color: #fbfbfb;
  position: sticky;
}

.sidebarWrapper {
  padding: 1rem;
  color: #555;
}

.sidebarTitle {
  font-size: 13px;
  color: #bbb;
}

.sidebarList {
  list-style: none;
  padding: .25rem;
}

.sidebarListItem {
  padding: .25rem;
  margin: .25rem;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
}

.sidebarListItem button {
  all: unset;
  cursor: pointer;
  display: block;
  width: 100%;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #f0f0ff;
}

.sidebarControl {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;
  min-height: 2rem;
}

.sidebarControl label {
  font-size: small;
  white-space: nowrap;
}

.sidebarControl select {
  font-size: small;
  padding: .25rem;
}